<footer class="bg-yellow px3 p3 z2">
  <div>
    {%- include tldr-svg-logo.html -%}
  </div>
  <div class="contacts flex h6">
    <div class="address mr2">
      <div class="bold caps blue">Email</div>
      <div class="dark-blue">
        <a
          href="/contact"
          class="btn btn-solid btn-narrow bg-blue white h6 semibold mt1"
        >
          New Opportunity? Tell Us About It
        </a>
        <br>
        <a href="mailto:hello@tldr.capital" target="_top">hello@tldr.capital</a>
      </div>
    </div>
    <!--
    <div class="address mr2">
      <div class="bold caps blue">London Office</div>
      <div class="dark-blue">107 Clifton St, Suite 3, <br>
        EC2A 4LG, London
      </div>
    </div>
    -->
    <!--
      <div class="address mr2">
        <div class="bold caps blue">New York Office</div>
        <div class="dark-blue">
          87 Gardner Ave. <br>
          Brooklyn, NY. 11237
        </div>
      </div>
    -->
    <div class="address mr2">
      <div class="dark-blue">
        <a href="/cookie_policy">Cookie Policy</a> <br>
        <a href="/privacy_policy">Privacy Policy</a> <br>
        <a href="/terms_of_use">Terms of Use</a> <br>
      </div>
    </div>
  </div>
  <div class="center">
    © Copyright 2018 TLDR Universe Ltd. All Rights Reserved
  </div>
</footer>
