<footer class="bg-yellow px3 p3">
  <div class="contacts flex h6">
    <div class="flex-1 mb1">
      {%- include tldr-svg-logo.html -%}
    </div>
    <div class="address">
      <div class="bold caps blue">Email</div>
      <div class="dark-blue">
        hello@tldr.capital
        <br>
        <a
          href="https://share.hsforms.com/1FnSkZQMtQg-bfZ4NZ-LNSQ2p6mg"
          target="_blank"
          class="btn btn-solid btn-narrow bg-blue white h6 semibold mt1"
        >
          New Opportunity? Tell Us About It
        </a>
      </div>
    </div>
    <div class="address">
      <div class="bold caps blue">London Office</div>
      <div class="dark-blue">107 Clifton St, Suite 3, <br>
        EC2A 4LG, London
      </div>
      <div class="bold caps blue pt1">New York Office</div>
      <div class="dark-blue">
        87 Gardner Ave. <br>
        Brooklyn, NY. 11237
      </div>
    </div>
  </div>
</footer>
