<footer class="bg-yellow pt4 pb3 center">
  <div class="section_title pb3 mb2">
    <span class="h3 bold dark-blue inline-block caps">Contact us</span>
  </div>
  <div class="contacts flex">
    <div class="address px2 py1 m1">
      <div class="h5 bold caps dark-blue">Email</div>
      <div class="blue h6">
        hello@tldr.capital
        <br>
        <a href="https://share.hsforms.com/1FnSkZQMtQg-bfZ4NZ-LNSQ2p6mg" target="_blank">New Opportunity? Tell Us About It</a>
      </div>
    </div>
    <div class="address px2 py1 m1">
      <div class="h5 bold caps dark-blue">London Office</div>
      <div class="blue h6">107 Clifton St, Suite 3, <br>
        EC2A 4LG, London
      </div>
    </div>
    <div class="address px2 py1 m1">
      <div class="h5 bold caps dark-blue">New York Office</div>
      <div class="blue h6">
        87 Gardner Ave. <br>
        Brooklyn, NY. 11237
      </div>
    </div>
  </div>
  <div class="TODO_cleanup">
    <div>{%- include social.html -%}</div>
    <div>{{- site.description | escape -}}</div>
    <div>
      {%- if site.email -%}
        <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
      {%- endif -%}
    </div>
  </div>
</footer>
