---
layout: default
---

<section class="linear-bg blog-body">
  <div class="blog-detail-title">
      <h1 class="mb3">{{ page.title }}</h1>
      <p class="dark-blue">{{ page.excerpt }}</p>
  </div>
  <div class="blog-detail-section">
      <div class="big-img">
          <img src="{{ page.image }}" alt="big img" />
      </div>

      {{ content }}

      <hr class="pt3">
      <div class="new-article-end mt4">
          <div class="left">
              <a href="/blog" class="btn btn-outline">Back to Blog</a>
          </div>
          <!-- <div class="right">
              share tools
          </div> -->
      </div>
  </div>
</section>
