---
layout: default
---

{%- include page-hero.html -%}

<div class="section clearfix">
  <h2 class="section_title dark-blue">
    <span>{{ page.title }}</span>
  </h2>
  <p class="pt2 pb3 blue">{{ page.summary }}</p>
  {% assign clients = site.clients | sort: 'order' %}
  {%- if clients.size > 0 -%}
    {%- for client in clients -%}
      <a href="{{ client.site_address }}"
          class="client_thumb"
          target="_client{{ client.title | escape }}">
        <img src="{{ client.image }}" alt="{{ client.title | escape }}">
        {{ client.title | escape }}
      </a>
    {%- endfor -%}
  {%- else -%}
    No clients to show
  {%- endif -%}
</div>

