<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="{{ page.id | remove: '/' }}">
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T4CST6X"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="/assets/js/jquery.mobile.custom.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>




    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      {{ content }}
    </main>

    {%- include footer.html -%}
    {%- include scripts.html -%}

  </body>

</html>
