---
layout: default
---

{%- include page-hero.html -%}

<div class="section services">
  {% assign service_page = site.pages | where: "id", "/services" | first %}
  {% assign services = site.services | where: "featured", true | sort: 'order' %}

  <h2 class="section_title center dark-blue">
    <span>{{ service_page.home_headline }} </span>
  </h2>
  <p class="section_description center blue">
    {{ service_page.home_summary }}
  </p>

  {%- if services.size > 0 -%}
    <div class="featured_services flex pt2">
      {%- for service in services -%}
        <div class="flex-1 px1">
          <div class="service_small_pic tldrect profile_pic mb2">
            {% image_tag src=service.image height="220" %}
          </div>
          <h3>{{ service.title }}</h3>
          <p>{{ service.excerpt }}</p>
        </div>
      {%- endfor -%}
    </div>
  {%- else -%}
    No featured services
  {%- endif -%}
  <div class="center py3">
    <a class="btn btn-solid dark-blue mt1 py2 px3 " href="/services">Find Out More</a>
  </div>
</div>

<div class="section clients">
  {% assign client_page = site.pages | where: "id", "/clients" | first %}
  {% assign clients = site.clients | where:'featured', true | sort: 'order' %}
  <h2 class="section_title center dark-blue">
    <span>{{ client_page.home_headline }}</span>
  </h2>
  <p class="section_description center blue">{{ client_page.home_summary }}</p>

  {%- if clients.size > 0 -%}
    <div class="clearfix">
      {%- for client in clients -%}
        <a href="{{ client.url }}" class="client_thumb">
          {% image_tag src=client.image width="180" alt="{{ client.title | escape }}" %}
          {{ client.title | escape }}
        </a>
      {%- endfor -%}
    </div>
  {%- else -%}
    No clients to show
  {%- endif -%}
  <div class="center py3">
    <a class="btn btn-solid dark-blue mt1 py2 px3 " href="/clients">See Our Projects</a>
  </div>
</div>

<!--
{% assign feat_testimonials = site.testimonials | where: 'featured', 'true' | sort: 'order' %}
{%- if feat_testimonials.size > 0 -%}
  <div class="section center">
    <div id="tldr-carousel" class="carousel slide" data-ride="carousel">

      <ol class="carousel-indicators">
        {% assign counter = 0 %}
        {%- for testimonial in feat_testimonials -%}
          <li data-target="#tldr-carousel" data-slide-to="{{ counter }}" class="{% if counter == 0 %} active {% endif %}"></li>
          {% assign counter = counter | plus: 1 %}
        {%- endfor -%}
      </ol>

      <div class="carousel-inner" role="listbox">
        {% assign counter = 0 %}
        {%- for testimonial in feat_testimonials -%}
          <div class="item {% if counter == 0 %} active {% endif %}">
            <div class="featured_testimonial cover_bg rounded white" style="background-image: url('{{ testimonial.image }}');">
              <h1 class="italic pb3 z2 relative">&ldquo;{{ testimonial.quote }}&rdquo;</h1>
              <p class="m0 z2 relative">
                <b>{{ testimonial.company_person }}</b><br>
                {{ testimonial.title }}
              </p>
            </div>
          </div>
          {% assign counter = counter | plus: 1 %}
        {%- endfor -%}
      </div>

      <a class="left carousel-control" href="#tldr-carousel" role="button" data-slide="prev">
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#tldr-carousel" role="button" data-slide="next">
        <span class="sr-only">Next</span>
      </a>
  </div>
</div>
{%- else -%}
  No testimonial
{%- endif -%}

-->

{% assign team_page = site.pages | where:'id', '/team' | first  %}
{% assign members = site.team | where: "featured", true | sort: 'order' %}

<!--
<div class="bg-dark-blue white">
    <div class="section team">
        <h2 class="section_title center white">
            <span>{{team_page.name}}</span>
        </h2>
        <p class="section_description center white">{{team_page.description}}</p>
        <div class="team-carousel">
            <div class="row">
                <div class="row__inner">

                 {% for member in members %}
                    <div class="tile" data-index="{% increment index %}">
                        <div class="tile__media">
                          {% image_tag src=member.avatar width="260" class="tile__img" %}
                        </div>
                        <div class="tile-description">
                            <div class="person_name mb1 h4 dark-blue bold">
                                {{member.title}}
                            </div>
                            <div class="person_title h6 light">
                                {{member.role}}
                            </div>
                            <p class="h6 light member-description"> {{member.description}} </p>
                        </div>
                    </div>
                {% endfor %}

                </div>
            </div>
        </div>
        <div class="center pt2">
            <a class="btn btn-solid dark-blue mt1 py2 px3 " href="/team">Meet the Team</a>
        </div>
    </div>
    <script>
      (function () {
        var $row = $('.team-carousel .row');

        $('.team-carousel .tile')
          .mouseenter(function() {
            var $this = $(this);

            setTimeout(function () {
              var viewPortSize = $row.width();
              var indexPosition = $this.data("index");
              var titleLeftPosition = $this.outerWidth(true) * indexPosition;
              var titleRightPosition = titleLeftPosition + ($this.outerWidth() * 1.2);
              var viewPortSizePlusHidden = $row.scrollLeft() + viewPortSize;

              if ($(window).width() > 480) {
                titleRightPosition = titleRightPosition + ($this.find(".tile-description").outerWidth() * 1.165);
              }

              if ($row.scrollLeft() > titleLeftPosition) {
                $row.animate({
                  scrollLeft: titleLeftPosition
                }, 220);
              }

              if (viewPortSizePlusHidden < titleRightPosition) {
                $row.animate({
                  scrollLeft: $row.scrollLeft() + (titleRightPosition - viewPortSizePlusHidden)
                }, 220);
              }
            }, 270);

            if ($(window).width() < 480) {
              $row.height('350px')
            }
          })
          .mouseleave(function() {
            if ($(window).width() < 480) {
              $row.height('auto')
            }
          })
      })()
    </script>
</div>
-->

<div class="map">
  {% image_tag src="/assets/images/map.png" height="440" %}
</div>

<!--
<div class="section download">
  <div class="download_box rounded mx-auto center p3">
    <h3 class="section_title center blue light">Download guide</h3>
    <p class="semibold">Get this awesome guide on some topic</p>
    <button class="btn btn-solid bg-blue yellow mt1 py2 px3">Download now</button>
  </div>
</div>
-->

<script>
  $('#scroll-data').scrollspy({ target: '#scrollspy' })
  $(window).on('activate.bs.scrollspy', function (event) {
      var data = $(event.target).find('a').html();
      $('.current-letter span').html(data);
  })
  </script>
