---
layout: default
---

{%- include page-hero.html -%}

{% assign news = site.news | sort: 'created_at' %}
{% assign first_article = news | first %}

<div class="full-section">
  <section class="sub-hero-news">
      <div>
        <div class="sub-hero-text">
            <h1 class="h1 white">{{ first_article.title | escape }}</h1>
            <p class="h4 white">{{ first_article.excerpt | escape }}</p>
            <a class="btn btn-solid dark-blue mt1 py2 px3 "
                href="{{first_article.url}}">Read more</a>
        </div>
        <div class="sub-hero-img-holder">
            <div class="sub-hero-img">
                <img src="{{ first_article.image }}" alt="sub-hero-img">
            </div>
        </div>
      </div>
  </section>
</div>


<div class="section news-section z2">
    {%- if news.size > 0 -%}
    {%- for article in news -%}
    <article>
        <div class="article-img-container" style="background-image:url('{{ article.image }}')">
            <p class="z2">{{ article.title | escape }}</p>
        </div>
        <p class="h5 dark-blue">{{ article.excerpt | escape }}</p>
        <div class="btn-holder">
            <a class="btn btn-solid dark-blue mt1 py2 px3 "
               href="{{article.url}}">Read more</a>
        </div>
    </article>
    {%- endfor -%}
    {%- else -%}
    No news list
    {%- endif -%}
</div>

<section class="news-bottom-subscrition">
    <div class="news-form-holder">
        <h1 class="h1 bold white">Subscribe module</h1>
        <p class="h5 white">Get the juicy stuff on your email. Only the juicy stuff on your email. </p>
        <form action="" class="hs-form stacked hs-custom-form">
            <div class="input">
                <input class="hs-input"  name="email" placeholder="your@email.com" required="" type="email">
            </div>
            <div class="actions">
                <input class="hs-button primary large" type="submit" value="Submit">
            </div>
        </form>
    </div>
</section>
