---
layout: default
---

{%- include page-hero.html -%}

{% assign news = site.news %}
{% assign first_article = news | first %}

<div class="full-section">
  <section class="sub-hero-news">
      <div class="sub-hero-text">
          <h1 class="h1 white">{{ first_article.title | escape }}</h1>
          <p class="h4 white">{{ first_article.excerpt | escape }}</p>
          <a class="btn btn-solid dark-blue mt1 py2 px3 " href="#">Read more</a>
      </div>
      <div class="sub-hero-img-holder">
          <div class="sub-hero-img">
              <img src="{{ first_article.image }}" alt="sub-hero-img">
          </div>
      </div>
  </section>
</div>

<div class="section news-section z2">
    {%- if news.size > 0 -%}
    {%- for article in news -%}
    <article>
        <div class="article-img-container">
            <img src="{{ article.image }}" alt="sub-hero-img">
            <p class="z2">{{ article.title | escape }}</p>
        </div>
        <p class="h5 dark-blue">{{ article.excerpt | escape }}</p>
        <div class="btn-holder">
            <a class="btn btn-solid dark-blue mt1 py2 px3 " href="news_details.html">Read more</a>
        </div>
    </article>
    {%- endfor -%}
    {%- else -%}
    No news list
    {%- endif -%}
</div>
