---
layout: default
---

{%- include page-hero.html -%}

<div class="section">
  <nav id="secondary-menu" class="secondary-menu" role="navigation" aria-expanded="false" aria-label="Secondary-menu">
      <ul class="site-nav">
          <li><a class="{% if page.id == '/resources' %} selected {% endif %}" href="{{ '/resources#secondary-menu' | relative_url }}">Guides</a></li>
          <li><a class="{% if page.id == '/glossary' %} selected {% endif %}" href="{{ '/glossary#secondary-menu' | relative_url }}">Glossary</a></li>
      </ul>
  </nav>
  <div class="article-holder">
    {% assign resources1 = site.resources | where: "featured", "true" | sort: 'order' %}
    {% assign resources2 = site.resources | where: "featured", "false" | sort: 'order' %}

    {%- if resources1.size > 0 -%}
    {%- for resource in resources1 -%}

    {% assign bookIcon = 'book.png' %}
    {%- if resource.file_type == 'audio' -%}
      {% assign bookIcon = 'book-audio.png'%}
    {%- endif -%}


      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <article class="with-img shared" style="background-image: url('{{ resource.image}}'); ">
            <div class="v-align z2">
                <img src="/assets/images/{{ bookIcon }}" alt="icon" class="icon">
                <p class="h3 white">{{ resource.title | escape }}</p>
            </div>
            <div class="file-size-label z2">File Size: {{ resource.file_size }}mb</div>
          </article>
          <div class="back">
            <article class="with-img shared" style="background-image: url('{{ resource.image}}'); ">
              <div class="article-header">
                <img src="/assets/images/{{ bookIcon }}" alt="" class="icon">
                <p class="h6 white">File Type: {{ resource.file_type }}</p>
                <div class="line"></div>
              </div>
              <div class="article-body">
                <p class="center h3 white ">{{ resource.title | escape }}</p>
                <p class="center h6 white mb0">{{ resource.description | escape }} </p>
              </div>
              <a href="{{ resource.download_url }}" class="article-footer z2">
                <div class="left">
                  <p class="h3 blue mb0 bold">Download</p>
                  <p class="left h6 blue mb0">File Size: {{ resource.file_size }}mb</p>
                </div>
                <div class="right v-center">
                  <img src="/assets/images/download.png" alt="icon" class="icon">
                </div>
              </a>
            </article>
          </div>
        </div>
      </div>
    {%- endfor -%}
    {%- else -%}
    No resources list
    {%- endif -%}

    <article class="sign-up-tile">
        <div class="v-align z2">
            <img src="/assets/images/icon_a.png" alt="icon">
            <p class="h3 bold">Subscribe module</p>
            <p class="h5 ">Get the juicy stuff on your email. Only the juicy stuff on your email. </p>
            <form action="" class="hs-form stacked hs-custom-form">
                <div class="input">
                    <input class="hs-input"  name="email" placeholder="your@email.com" required="" type="email">
                </div>
                <div class="actions">
                    <input class="hs-button primary large" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </article>


    {%- if resources2.size > 0 -%}
    {%- for resource in resources2 -%}

    {% assign bookIcon = 'book.png' %}
    {%- if resource.file_type == 'audio' -%}
      {% assign bookIcon = 'book-audio.png'%}
    {%- endif -%}

      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <article class="with-img shared" style="background-image: url('{{ resource.image}}'); ">
            <div class="v-align z2">
                <img src="/assets/images/{{ bookIcon }}" alt="icon" class="icon">
                <p class="h3 white">{{ resource.title | escape }}</p>
            </div>
            <div class="file-size-label z2">File Size: {{ resource.file_size }}mb</div>
          </article>
          <div class="back">
            <article class="with-img shared" style="background-image: url('{{ resource.image}}'); ">
              <div class="article-header">
                <img src="/assets/images/{{ bookIcon }}" alt="" class="icon">
                <p class="h6 white">File Type: {{ resource.file_type }}</p>
                <div class="line"></div>
              </div>
              <div class="article-body">
                <p class="center h3 white ">{{ resource.title | escape }}</p>
                <p class="center h6 white mb0">{{ resource.description | escape }} </p>
              </div>
              <a href="{{ resource.download_url }}" class="article-footer z2">
                <div class="left">
                  <p class="h3 blue mb0 bold">Download</p>
                  <p class="left h6 blue mb0">File Size: {{ resource.file_size }}mb</p>
                </div>
                <div class="right v-center">
                  <img src="/assets/images/download.png" alt="icon" class="icon">
                </div>
              </a>
            </article>
          </div>
        </div>
      </div>
    {%- endfor -%}
    {%- else -%}
    No resources list
    {%- endif -%}

  </div>
</div>
