---
layout: default
---

{%- include page-hero.html -%}

<div class="section">
    <nav id="secondary-menu" class="secondary-menu" role="navigation" aria-expanded="false" aria-label="Secondary-menu">
        <ul class="site-nav">
            <li><a class="selected" href="resources.html#secondary-menu">Guides</a></li>
            <li><a class="" href="glossary.html#secondary-menu">Glossary</a></li>
        </ul>
    </nav>
    <div class="article-holder">

        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <article class="with-img shared">
                    <div class="v-align z2">
                        <img src="./assets/icons/icon_a.png" alt="icon">
                        <p class="h3 white">Item title, A guide from gold to crypto in 10 steps</p>
                    </div>
                    <div class="file-size-label z2">File Size: 3.2mb</div>
                </article>
                <div class="back">
                   <article class="with-img shared">
                       <div class="article-header">
                            <img src="./assets/icons/icon_a.png" alt="">
                            <p class="h6 white">File Type: Text</p>
                            <div class="line"></div>
                        </div>
                        <div class="article-body">
                            <p class="center h3 white ">A guide from gold to crypto in 10 steps</p>
                            <p class="center h6 white mb0">The Emerald Buddha is a figurine of a sitting Budha, that is the is the palladium of the Kingdom of Thailand. </p>
                        </div>
                        <div class="article-footer z2">
                            <div class="left">
                                <p class="h3 blue mb0 bold">Download</p>
                                <p class="left h6 blue mb0">File Size: 3.2mb</p>
                            </div>
                            <div class="right v-center">
                                Icon
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <article class="with-img shared">
                    <div class="v-align z2">
                        <img src="./assets/icons/icon_a.png" alt="icon">
                        <p class="h3 white">Item title, A guide from gold to crypto in 10 steps</p>
                    </div>
                    <div class="file-size-label z2">File Size: 3.2mb</div>
                </article>
                <div class="back">
                   <article class="with-img shared">
                       <div class="article-header">
                            <img src="./assets/icons/icon_a.png" alt="">
                            <p class="h6 white">File Type: Text</p>
                            <div class="line"></div>
                        </div>
                        <div class="article-body">
                            <p class="center h3 white ">A guide from gold to crypto in 10 steps</p>
                            <p class="center h6 white mb0">The Emerald Buddha is a figurine of a sitting Budha, that is the is the palladium of the Kingdom of Thailand. </p>
                        </div>
                        <div class="article-footer z2">
                            <div class="left">
                                <p class="h3 blue mb0 bold">Download</p>
                                <p class="left h6 blue mb0">File Size: 3.2mb</p>
                            </div>
                            <div class="right v-center">
                                Icon
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <article class="with-img shared">
                    <div class="v-align z2">
                        <img src="./assets/icons/icon_a.png" alt="icon">
                        <p class="h3 white">Item title, A guide from gold to crypto in 10 steps</p>
                    </div>
                    <div class="file-size-label z2">File Size: 3.2mb</div>
                </article>
                <div class="back">
                   <article class="with-img shared">
                       <div class="article-header">
                            <img src="./assets/icons/icon_a.png" alt="">
                            <p class="h6 white">File Type: Text</p>
                            <div class="line"></div>
                        </div>
                        <div class="article-body">
                            <p class="center h3 white ">A guide from gold to crypto in 10 steps</p>
                            <p class="center h6 white mb0">The Emerald Buddha is a figurine of a sitting Budha, that is the is the palladium of the Kingdom of Thailand. </p>
                        </div>
                        <div class="article-footer z2">
                            <div class="left">
                                <p class="h3 blue mb0 bold">Download</p>
                                <p class="left h6 blue mb0">File Size: 3.2mb</p>
                            </div>
                            <div class="right v-center">
                                Icon
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <article class="with-img shared">
                    <div class="v-align z2">
                        <img src="./assets/icons/icon_a.png" alt="icon">
                        <p class="h3 white">Item title, A guide from gold to crypto in 10 steps</p>
                    </div>
                    <div class="file-size-label z2">File Size: 3.2mb</div>
                </article>
                <div class="back">
                   <article class="with-img shared">
                       <div class="article-header">
                            <img src="./assets/icons/icon_a.png" alt="">
                            <p class="h6 white">File Type: Text</p>
                            <div class="line"></div>
                        </div>
                        <div class="article-body">
                            <p class="center h3 white ">A guide from gold to crypto in 10 steps</p>
                            <p class="center h6 white mb0">The Emerald Buddha is a figurine of a sitting Budha, that is the is the palladium of the Kingdom of Thailand. </p>
                        </div>
                        <div class="article-footer z2">
                            <div class="left">
                                <p class="h3 blue mb0 bold">Download</p>
                                <p class="left h6 blue mb0">File Size: 3.2mb</p>
                            </div>
                            <div class="right v-center">
                                Icon
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <article class="sign-up-tile">
            <div class="v-align z2">
                <img src="./assets/icons/email_icon.png" alt="icon">
                <p class="h3 bold">Subscribe module</p>
                <p class="h5 ">Get the juicy stuff on your email. Only the juicy stuff on your email. </p>
                <form action="" class="hs-form stacked hs-custom-form">
                    <div class="input">
                        <input class="hs-input"  name="email" placeholder="your@email.com" required="" type="email">
                    </div>
                    <div class="actions">
                        <input class="hs-button primary large" type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </article>

        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <article class="with-img shared">
                    <div class="v-align z2">
                        <img src="./assets/icons/icon_a.png" alt="icon">
                        <p class="h3 white">Item title, A guide from gold to crypto in 10 steps</p>
                    </div>
                    <div class="file-size-label z2">File Size: 3.2mb</div>
                </article>
                <div class="back">
                   <article class="with-img shared">
                       <div class="article-header">
                            <img src="./assets/icons/icon_a.png" alt="">
                            <p class="h6 white">File Type: Text</p>
                            <div class="line"></div>
                        </div>
                        <div class="article-body">
                            <p class="center h3 white ">A guide from gold to crypto in 10 steps</p>
                            <p class="center h6 white mb0">The Emerald Buddha is a figurine of a sitting Budha, that is the is the palladium of the Kingdom of Thailand. </p>
                        </div>
                        <div class="article-footer z2">
                            <div class="left">
                                <p class="h3 blue mb0 bold">Download</p>
                                <p class="left h6 blue mb0">File Size: 3.2mb</p>
                            </div>
                            <div class="right v-center">
                                Icon
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <article class="with-img shared">
                    <div class="v-align z2">
                        <img src="./assets/icons/icon_a.png" alt="icon">
                        <p class="h3 white">Item title, A guide from gold to crypto in 10 steps</p>
                    </div>
                    <div class="file-size-label z2">File Size: 3.2mb</div>
                </article>
                <div class="back">
                   <article class="with-img shared">
                       <div class="article-header">
                            <img src="./assets/icons/icon_a.png" alt="">
                            <p class="h6 white">File Type: Text</p>
                            <div class="line"></div>
                        </div>
                        <div class="article-body">
                            <p class="center h3 white ">A guide from gold to crypto in 10 steps</p>
                            <p class="center h6 white mb0">The Emerald Buddha is a figurine of a sitting Budha, that is the is the palladium of the Kingdom of Thailand. </p>
                        </div>
                        <div class="article-footer z2">
                            <div class="left">
                                <p class="h3 blue mb0 bold">Download</p>
                                <p class="left h6 blue mb0">File Size: 3.2mb</p>
                            </div>
                            <div class="right v-center">
                                Icon
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <article class="with-img shared">
                    <div class="v-align z2">
                        <img src="./assets/icons/icon_a.png" alt="icon">
                        <p class="h3 white">Item title, A guide from gold to crypto in 10 steps</p>
                    </div>
                    <div class="file-size-label z2">File Size: 3.2mb</div>
                </article>
                <div class="back">
                   <article class="with-img shared">
                       <div class="article-header">
                            <img src="./assets/icons/icon_a.png" alt="">
                            <p class="h6 white">File Type: Text</p>
                            <div class="line"></div>
                        </div>
                        <div class="article-body">
                            <p class="center h3 white ">A guide from gold to crypto in 10 steps</p>
                            <p class="center h6 white mb0">The Emerald Buddha is a figurine of a sitting Budha, that is the is the palladium of the Kingdom of Thailand. </p>
                        </div>
                        <div class="article-footer z2">
                            <div class="left">
                                <p class="h3 blue mb0 bold">Download</p>
                                <p class="left h6 blue mb0">File Size: 3.2mb</p>
                            </div>
                            <div class="right v-center">
                                Icon
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>



    </div>
</div>
