---
layout: default
---

{%- include page-hero.html -%}

<div class="section clearfix">
  <h2 class="section_title dark-blue">
    <span>{{ page.title }}</span>
  </h2>
  <p class="pt2 blue">{{ page.summary }}</p>
  {% assign services = site.services | sort: 'order' %}

  <div class="clearfix">
    {%- if services.size > 0 -%}
      {%- for service in services -%}
        <div class="service" id="#{{ service.anchor }}">
          <div class="service_pic tldrect cover_bg" style="background-image: url('{{ service.image}}'); "></div>
          <div class="service_description">
            <div class="mb1 h3 dark-blue bold">
              {{ service.title | escape }}
            </div>
            {{ service.description | escape }}
          </div>
        </div>
      {%- endfor -%}
    {%- else -%}
      No services list
    {%- endif -%}
  </div>

</div>

<!-- SERVICE SUMMARY -->
<!--     <div class="services_summary">
    {%- if services.size > 0 -%}
      <ul>
        {%- for service in services -%}
          <li>
            <a href="#{{ service.anchor }}">
              <img src="{{ service.image }}" alt="">
              {{ service.title | escape }}
              <p>{{ client.excerpt | escape }}</p>
            </a>
          </li>
        {%- endfor -%}
      </ul>
    {%- else -%}
      No Services summary...
    {%- endif -%}
  </div> -->


