---
layout: default
---

{%- include page-hero.html -%}

<div class="team h6 pt4 pb3">
  <div class="section_title py3 center">
    <span class="h0 bold yellow inline-block caps">The team</span>
  </div>
  <div class="section clearfix">
    {% assign team = site.team | sort: 'order' %}
    {%- if team.size > 0 -%}
      {%- for member in team -%}
        <div class="person">
          <div class="profile_pic tldrect" style="background-image: url('{{ member.avatar}}'); "></div>
          <div class="bio">
            <div class="person_name mb1 h3 dark-blue bold">
              {{ member.title }}
            </div>
            <div class="person_title h4 light">
              {{ member.role }}
            </div>
            {{ member.description }}
            <br>
            {%- if member.linkedin_url -%}
              <a href="{{ member.linkedin_url }}" class="icon_link linkedin" target="_blank">
                linkedin
              </a>
            {%- endif -%}
            {%- if member.twitter_url -%}
              <a href="{{ member.twitter_url }}" class="icon_link twitter" target="_blank">
                twitter
              </a>
            {%- endif -%}
          </div>
        </div>
      {%- endfor -%}
    {%- else -%}
      Team is empty...
    {%- endif -%}
  </div>
</div>
