---
layout: default
---

{%- include page-hero.html -%}
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<div>
  <div class="section center team-tile">
    <div id="team-filters" class="team-filters">

        <ul>
          {% assign team_categories = site.team | map: 'category' | uniq %}
              <li><a class="active" herf="#" data-category="all">All</a></li>
              {%- for category in team_categories -%}
                <li><a herf="#" data-category={{category | replace: " ", "_" | downcase}}>{{category}}</a></li>
              {%- endfor -%}
        </ul>
    </div>

    <div class="team-tile-holder">
      {% assign team = site.team | sort: 'order' %}
      {%- for member in team -%}
         <div class="team-member" data-category="{{member.category | replace: " ", "_" | downcase}}">
            <div class="team-member-active-state">
                <div class="close-member-specs">x</div>
                <div class="v-center">
                   <div class="active-member-top ">
                       <a href="#" class="member-social">
                            <img  src="/assets/icons/logo-twitter.svg" alt="" />
                       </a>
                       <div class="member-image">
                            <img  src="{{ member.avatar}}" alt="" />
                       </div>
                       <a href="#" class="member-social">
                           <img  src="/assets/icons/logo-linkedin.svg" alt="" />
                       </a>
                   </div>
                    <p class="member-name">{{ member.title }}</p>
                    <p class="member-title">{{ member.role }}</p>
                    <p class="member-description">
                        {{ member.description }}
                    </p>
                </div>
            </div>
            <img  src="{{ member.avatar}}" alt="" />
            <div class="team-member-hover-state">
                <div class="v-center">
                  <p class="member-name">{{ member.title }}</p>
                  <p class="member-title">{{ member.role }}</p>
                    <a class="bio-btn" href="#">show bio</a>
                </div>
            </div>

        </div>

      {%- endfor -%}

    </div>
</div>
<script>

$(document).ready(function(){
  $("#team-filters").on('click', onTeamFilterClick);

  function onTeamFilterClick(e) {
    e.preventDefault();

    $allMembers = $(".team-member");

    var $ele = $(event.target);
    $('#team-filters li a').removeClass('active');
    $ele.addClass('active');

    var category = $ele.data().category || "all";
    if (category === "all")
      return $allMembers.show();

    $allMembers.hide();
    $("div[data-category='"+ category +"']").show();
  }

  var tapOrClick = $.support.touch ? "tap" : "click";
  $('.bio-btn').on(tapOrClick, memberBioDialog);

  function memberBioDialog(e){
      e.preventDefault();
      if($('.team-member').hasClass('active')){
         $('.team-member').removeClass('active');
         $('.team-member').css('z-index', '0');
      }
      let position = $(e.target).parents('.team-member').position();
      if (position.left === 0 && position.top > 188) {
           $(e.target).parents('.team-member').addClass('active origin-bottom-left')
      } else if (position.left !== 0 && position.top > 189) {
           $(e.target).parents('.team-member').addClass('active origin-bottom-right')
      } else if (position.left === 0) {
           $(e.target).parents('.team-member').addClass('active origin-left')
      }  else {
           $(e.target).parents('.team-member').addClass('active origin-right')
      }
      $(e.target).parents('.team-member').css('z-index', '9')
  };

  $('.close-member-specs').on(tapOrClick, function(e){
      e.preventDefault();
      $(e.target).parents('.team-member').removeClass('active')
      setTimeout(function(){
          $(e.target).parents('.team-member').css('z-index', '0')
      }, 500);
  });

})

</script>
</div>
