/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* Button styling */
.menu-toggle {
  display: inline-block;
  padding: .75rem 1rem;
  line-height: 1em;
  font-size: 1em;
  color: $yellow;
  border: 2px solid $white;
  text-decoration: none;
  border-radius: 3px;
}

.menu-toggle:hover,
.menu-toggle:focus {
  background: $yellow;
  color: $blue;
  text-decoration: none;
}

/*
 Default styles + Mobile first
 Offscreen menu style
*/
.main-menu {
  position: absolute;
  left: -14rem;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  transition: left 0.3s ease,
              box-shadow 0.3s ease;
  z-index: 999;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 3rem 0 0;
  /* Hide shadow w/ -8px while 'closed' */
  -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
     -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
          box-shadow: -8px 0 8px rgba(0,0,0,.5);
  min-height: 100%;
  width: 14rem;
  background: #1a1a1a;
}

.main-menu a {
  display: block;
  padding: .75em 1rem;
  line-height: 1em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #383838;

  &.logo {
    height: auto;
  }
}

.main-menu li:first-child a {
  border-top: 1px solid #383838;
}

.main-menu a.menu-close {
  position: absolute;
  right: 0;
  top: 0;
  border: 0 none;
  height: 3rem;
  padding: 0 1rem;
  line-height: 3rem;
  font-size: 2.5rem;
}


.site-nav{
  a{
    display: block;
    padding: 1rem 12px 1rem 1rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    color: $white;
    font-weight: 600;
    position: relative;
    font-size: 12px;

    &:before, &:after{
      content: " ";
      width: 0;
      height: 0;
      border-color: rgba($white, .64);
      border-style: solid;
      position: absolute;
      transition: all .16s ease-in-out;
    }
    &:before{
      border-width: 0 0 0 0;
      top: 8px;
      left: 4px;
    }
    &:after{
      border-width: 0 0 0 0;
      bottom: 8px;
      right: 4px;
    }

    &:hover {
      &:before, &:after {
        width: 8px;
        height: 8px;
      }
    }

    &.selected {
      &:before, &:after {
        width: 12px;
        height: 12px;
      }
    }

    &:hover, &.selected{
      text-decoration: none;
      &:before{
        border-width: 3px 0 0 3px;
      }
      &:after{
        border-width: 0 3px 3px 0;
      }
    }

    &:active{
      &:before, &:after {
        width: 12px;
        height: 12px;
        border-color: $white;
      }
    }

    &.selected{
      &:before, &:after {
        border-color: $yellow;
      }
    }
  }
}

/*
 On small devices, allow it to toggle...
*/
/*
 :target for non-JavaScript
 aria-expanded="true/false" will be for JavaScript
*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
  left: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

/*
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0,0,0,.85);
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop {
    position: fixed;
  }
}

/*
 Larger screen styling
 Horizontal menu
*/
@media (min-width: 768px) {
  .menu-toggle,
  .main-menu .menu-close{
    display: none;
  }

  /* Undo positioning of off-canvas menu */
  .main-menu {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
  }

  .main-menu ul {
    display: flex;

    /* Undo off-canvas styling */
    padding: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    height: auto;
    width: auto;
    background: none;
  }

  .main-menu a {
    border: 0 !important; /* Remove borders from off-canvas styling */
  }

  li.siderbar-menu-logo {
    display: none;
  }


}
